/*
filename: enhancements.css
author: Nguyen Ha Huy Hoang, Nguyen Duc Thinh, Nguyen Gia Binh, Nguyen Manh Duc
created: 14/2/2023
last modified: 1/3/2023
description: product.html, index.html, payment.html, about.html, enhancements.html
*/


@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* For tablets: */


  * {
    font-size: 1.7vw;
  }


  .float_object *,
  .recommendation * {
    font-size: 3vw;
  }

  header {
    background-color: white;
    color: white;
    padding: 1.5% 1.5% 1.5% 5%;

  }


  /* align name only item in nav bar */
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }

  /* adjust position for items in the nav bar */
  nav {
    display: flex;
    justify-content: flex-start;
  }

  /* margin setup for each name in nav bar */
  header nav li {
    margin-right: 2%;
  }

  /* remove default a tag settings */
  header nav a {
    color: black;
    text-decoration: none;
  }

  /* adjust the size of */
  .navbar_brand {
    width: 5%;
    margin-right: 2.5%;
  }


  /*  */
  .form_inline {
    width: 30%;
    margin-right: 5%;
  }

  /* adjust width of search */


  /* setup for the overal content display on the website */
  /* the whole website content will be display on a paper like a book*/
  main {
    padding: 5% 0% 5% 5%;
    background-color: #f6f6f6;
    background-image: url("images/paperboard-yellow-texture.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset rgb(0 0 0 / 45%) 0px 25px 20px -20px;
    overflow: auto;
  }





  /* search bar shape settings */
  .form_control {
    display: block;
    width: 100%;

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    float: right;
    color: rgb(0 0 0 / 45%);
    background-color: white;
    background-clip: padding-box;
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  }

  /* align items in nav bar including the searchbar */
  .navbar_collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    width: 100%;

  }


  /* adjust the size of the logo */
  .logo_image {
    border-radius: 25%;
    width: 100%;
    height: auto;

  }




  /* template settings for all buttons on the site */
  .btn {
    font-size: 100%;
    width: 100%;
    background: #000;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    text-align: center;
    padding: 14px 31px;
    border-radius: 29px;
    transition: .5s;
  }

  /*hover for button of all page */
  .btn:hover {
    background: transparent;
    border: 2px solid #000;
    color: #000;
    cursor: pointer;
  }


  /* basic settings for table of the whole webpage accodring to the requirements */

  #product table,
  td,
  th {
    border: 1px solid black !important;
  }

  #product td {
    background-color: whitesmoke;
    color: black;
  }

  #product th {
    background-color: black;
    color: whitesmoke;
  }


  /* a container that float all the elements of the main content */
  #product .float_object {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 90%;
    padding: 2% 2% 2% 2%;
    background-color: rgb(250, 250, 250, 1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 5%;

  }

  /* title of the float object 's settings */
  #product .float_object_title {
    margin-bottom: 5%;
  }



  /* a container of all the books' information */
  /* contain the cover picture and the detail information about the book */
  /* adjust the position of its contained and have some styling + support hover animation*/
  #product .book_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./images/product_bg.jpg);
    background-repeat: no-repeat;
    background-size: 1000%;
    background-position: 10% 30%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 5%;
  }

  #product .book_detail h2 {
    text-align: center;
  }



  /* specifications information display settings */
  #product .spec {
    margin-bottom: 2.5%;
  }

  /* container of the cover image adjust its position to the best place */
  #product .cover_container {
    margin: 1%;
    margin-top: 2%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* settings for the information part  */
  /* contain basic product information about price, name */
  /* also have detail drop down */
  /* adjust the information of its contained and some styling */
  #product .book_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: 3%;
    margin-bottom: 3%;
  }


  /* settings for the detail sections, ensure that contents in it is displayed correctly */
  #product details {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  /* summary tag centered */

  #product summary {
    text-align: center;
    margin: 2.5% 0% 2.5% 0%;
  }


  /* ensure all the elements in book details have margin on the top */
  #product .book_detail * {
    margin-top: 2%;
  }


  /* a container contain detail information about what is written in the book*/
  /* contain chapter list and summary */
  #product .book_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* contain 2 smaller div chapter list and summary => adjust their position */
  #product .content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  /* contain an ol listed all the chapter inside the book */
  /* have some styling and width adjust */
  #product .chapter_list {
    width: 30%;


    margin-left: 2.5%;
  }

  .chapli {
    padding: 0px;
  }

  /* contain a summary of the book => margin adjust and width adjust */
  #product .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    width: 70%;
  }

  /* adjust margin book content heading */
  #product .book_content h2 {
    margin: 5% 0% 5% 0%;
  }





  /* the recommendation part of the website in aside */

  /* have position and shape adjusted, some styling and hover animation supported */
  #product aside {
    width: 90%;
    position: relative;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  /* contain the cover image and the detail infor of the recommended book */
  /* have display setting to make the detail overlap on the cover */
  #product .rcm_info {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 0fr;
    margin: 10% 0% 10% 0%;
  }




  /* hide the detail part and make it overlap the cover + some items styling */
  #product .rcm_detail {

    width: 100%;
    grid-column: 1/-2;
    text-align: center;
  }

  /* font size + margin + shadow setting for detail texts */
  #product .rcm_bookname,
  .rcm_author,
  .rcm_price,
  .rcm_button {
    font-size: 3.5vw;
    margin: 2.5%;
  }

  /* styling the next image buttons */
  .link_2 img,
  .link_1 img {
    margin: 5px !important;
    width: 20px !important;
    height: 20px !important;
  }





  /* styling for the cover of the recommendation book + help the detail to overlap it */
  #product .rcm_cover {
    width: 100%;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    grid-column: 1/2;
  }




  /* recommendation heading size */
  #product .rcm_area_name {
    margin-top: 3.5%;
    font-size: 175%;
  }


  /* Form size and color   */
  #payment .form {
    padding: 5%;
    background: #fff;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }

  #payment .form h2 {
    font-size: 2.5vw;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5%;
    margin-bottom: 3%;
    border-bottom: 1px dashed black;

  }

  /* Contact us heading at the start   */
  #payment #heading {
    text-align: center;
    font: 5em Arial;
    margin: 0% 0% 5% 0%;
  }

  /* How to fieldset behave   */
  #payment fieldset {
    padding: 0px;
  }

/* Make the border representing fieldset dissapear   */
  #payment .part {
    border-style: none;
  }

  #payment fieldset input {
    border-radius: 10px;
  }

/* The text over each input is style here   */
  #payment .text_Float_left {
    float: left;
    font-size: 1.7em;
  }

/* Increase font-size of placeholder   */
  #payment input::placeholder {
    font-size: 1.4em;
  }

  /* Set the input field to look kinda opaque    */
  #payment .input_text {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    align-self: center;
    border-style: none;
    text-align: center;
    font-size: 0.9em;
  }

  #payment .input_text_2 {
    opacity: 0.5;
    width: 100%;
    padding: 1.5em;
    align-self: center;
    margin-bottom: 2%;
  }

  /*2 equal collums*/

  #payment * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  #payment .column {
    float: left;
    width: 49%;
    margin: 1% 0% 1% 0%;
    text-align: center;
  }

  #payment .column2 {
    float: left;
    width: 49%;
    margin: 1% 0% 1% 1.9%;
    text-align: center;
  }

  /* Clear floats after the columns */
  #payment .row_01:after {
    content: "";
    display: table;
    clear: both;
  }

  #payment .row2 {
    margin-bottom: 1%;
  }

  #payment .row2:after {
    content: "";
    display: table;
    clear: both;
  }

    /* State styling   */
    #payment #cAdr {
      width: 100%;
      padding: 1.5em;
      border-radius: 10px;
      opacity: 0.5;
      margin: 0% 0% 2% 0%;
    }

  /* Preferred Card type*/
  #payment .precon_label {
    display: flex;
    align-items: center;
    padding-right: 2%;
  }

  /* Changing radio size */
  #payment input[type="radio"] {
    transform: scale(1.5);
  }

/* Add display flex */
  #payment .flex {
    display: flex;
    flex-direction: column;
  }

 /* position adjustment for prefered Card */
  #payment .option_content {
    display: flex;
    margin-top: 2%;
  }

  /* Book, preferred, order font styling    */
  #payment .choice_label {
    font-size: 1.7em;
  }

/* adjust the position of the label content */
  #payment li label {
    display: flex;
    align-items: center;
  }

  /* Choose order type styling   */
  #payment ul {
    display: flex;
    margin: 2% 0% 0% 0%;
    padding: 0px;
  }

/* checkbox option position settings */
  #payment .Option {
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    margin-right: 2%;
  }

/* checkbox shape adjust */
  #payment .checkbox {
    height: 15px;
    width: 15px;
  }

  /* Select Book   */
  #payment .book {
    width: 98%;
    padding: 0.5em;
    border-radius: 10px;
    margin-bottom: 4%;
    margin-top: 2%;
  }

/* attribute selector to adjust all text inputs font size */
  #payment input [type="text"] {
    font-size: 1.5em;
  }

    /* Textarea   */
    #payment textarea {
      line-height: 10vh;
      width: 100%;
      padding: 4%;
      font-size: 1.3em;
    }

    #payment textarea::placeholder {
      font-size: 1.4em;
    }

         /* Validation of entered value in input  */
         /* #payment .input_text_2:not(:placeholder-shown):invalid {
          border: 5px solid #ff0000;
        } */

  /* Submit button styling  */
  #payment .submit {
    text-align: center;
    margin-top: 5px;
  }

/* submit button length adjust */
  #payment #submit {
    width: 20%;
  }

/* hover effect for submit button */
  #payment #submit:hover {
    transform: scale(1.2);
  }

  
  /* Sets the width and height of the banner image */
  #index .featured-banner img {
    width: 100%;
    height: 60vh;
  }

  /* Sets the position, width, height, and margin of the banner container */
  #index .featured-banner {
    position: relative;
    width: 100%;
    height: 60vh;
    margin: 0 auto 30px;
    margin-bottom: 30px;
  }

  /* Box shadow for the Image*/
  #index .featured-banner::after {
    box-shadow: inset rgb(0 0 0 / 45%) 0px 25px 20px -20px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /* Sets the display, position, width, height, margin, background image, and animation of the banner image */
  #index .featured-banner-image {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/featured/banner1.jpg);
    background-size: cover;
    animation: banner-animation 9s infinite;
  }

  #index h1 {
    width: 90%;
    margin: 5%;
  }

  /* Defines the keyframes of the banner animation */
  @keyframes banner-animation {
    0% {
      background-image: url(../images/featured/banner1.jpg);
    }

    33.33% {
      background-image: url(../images/featured/banner2.jpg);
    }

    66.66% {
      background-image: url(../images/featured/banner3.jpg);
    }

    100% {
      background-image: url(../images/featured/banner1.jpg);
    }
  }

  #index .header h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* Sets the padding, margin and background color for the main content area */
  #index {
    padding: 0px;
  }

  #index .section-white {
    background-color: #fff;
    float: left;
    padding: 2.5%;
    margin: 0% 5% 5% 5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  #index .section-white .section-title {
    font-size: 2.5vw;
    text-align: center;

    font-weight: bold;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: 3%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

  }

  /* Sets the style for the rows and columns */
  #index .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    border-bottom: 1px solid #000;
  }

  #index .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;
    padding: 10px;
  }

  /* Sets the style for the images */
  #index img {
    max-width: 100%;
    height: auto;
  }

  #index .modi {
    width: 15%;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }


  #index .section-white img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  /* basic set up for about page elements */
  #about * {
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
  }

  /*each member face image*/
  #about .prof {
    height: auto;
    width: 15vw;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;
  }




  /*position for member's vertical banner*/
  #about .profiles {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  #about .profile h3 {
    text-align: center;
    font-size: 20vh;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    color: #fbfbf2;
  }

  #about td {
    background-color: #fbfbf2;
    color: #000;
    padding: 1%;
  }

  #about .aboutpage {
    float: left;
    width: 95%;
    padding-top: 5vh;
    background: #fbfbf2;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 10% 30%;
    margin-bottom: 5%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 1px solid black;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }

  /* h2 member number  */
  #about .aboutpage h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;

  }

  #about .aboutpage:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #about figure {
    width: 40%;

    padding: 2%;
    float: right;
    margin-right: 4%;
  }

  /*personal image*/
  #about .profile_picture_1 {
    display: inline-block;
    width: 100%;
    height: 80%;
    border: double;
  }

  /*personal information ( included title and information )*/
  #about .personaldetail {
    width: 50%;
    float: left;
    padding: 1% 1%;
    margin-left: 5%;
  }

  /*"major in" text*/
  #about .personaldetail p {
    font-size: 100%;

    text-transform: capitalize;
    margin-bottom: 2%;

  }

  #about .personaldetail p span {
    font-weight: bold;
    font-size: 120%;

  }

  /*specific information*/
  #about .personaldetail dl {
    color: black;
    line-height: 28px;
    font-size: 100%;
    margin-bottom: 45px;
    border: 3px solid #000;

    padding: 13px 2%;
  }

  #about dd {
    padding-left: 2%;
  }

  /*section of table*/
  #about .ttble {
    float: left;
    width: 100%;
    align-items: center;
  }

  /*adjust table*/
  #about .ttble table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 5%;
    border: 1px solid #151314;
    text-align: center;
  }

  /*each element in table*/
  #about .center th {
    border: 1px solid #151314;
    color: black;
    text-align: center;
    padding: 1%;
    transition: 0.5s;
  }

  /* change background hover effects */
  #about .center th:hover {
    border: 1px solid transparent;
    background: #4e4ebf;
    color: white;
  }

  /*hover for each element*/

  #about .center td:hover {
    border: 1px solid transparent;
    background: #d6844a;
    color: white;
  }


  #about td.club:hover {
    border: 1px solid transparent;
    background: #bbbe37;
    /* different color for each subject */
    color: #fff;
  }

  #about td.cos20019:hover {
    border: 1px solid transparent;
    background: #d99d29;
    /* different color for each subject */
    color: #fff;
  }

  #about td.cos10026:hover {
    border: 1px solid transparent;
    background: #ffb6c1;
    /* different color for each subject */
    color: #fff;
  }

  #about td.tne10006:hover {
    border: 1px solid transparent;
    /* different color for each subject */
    background: #bc8f8f;
    color: #fff;
  }

  #about td.cos10022:hover {
    border: 1px solid transparent;
    /* different color for each subject */
    background: #363456;
    color: white;
  }

  #about td.vovi1:hover {
    border: 1px solid transparent;
    /* different color for each subject */
    background: #95e7c6;
    color: white;
  }

  #about .center td {
    border: 1px solid #151314;
    color: #151314;
    text-align: center;
    padding: 1%;
    transition: 0.5s;
    height: 10vh;
    width: 15vw;
  }

  #about .center th {
    background-color: #151314;
    color: #fbfbf2;
    border: 1px solid #151314;

    text-align: center;
    transition: 0.5s;
    height: 10vh;
    width: 15vw;
  }

  /*position for center table*/
  #about table.center {
    font-size: 140%;
    margin-bottom: 30px;
  }

  /*time row*/
  #about .time {
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  /*title "this is my swinburne timetable"*/
  #about .swtb {
    font-size: 2.5vw;
    margin-top: 2.5%;

    font-weight: bold;
    color: #fff;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
      -1px -1px #000, 1px -1px #000, -1px 1px #000;
    text-align: center;
  }

  /*green color for "This is"*/
  #about .ti {
    text-shadow: none;
    letter-spacing: 2px;
    margin-right: 1%;
    font-size: 2.25vw;
    font-style: italic;
    font-weight: bold;
    color: #000;
  }

  
  #enhancement b {
    font-weight: bold !important;
    text-decoration: underline;
  }

  #enhancement article {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding-top: 5vh;
    height: 80vh;
    background: #fbfbf2;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 10% 30%;
    margin-bottom: 5%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* border: 1px solid black; */
  }

  #general_page article {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding-top: 5vh;
    height: 80vh;
    background: #fbfbf2;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 10% 30%;
    margin-bottom: 5%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* border: 1px solid black; */
  }
  /* footer font size adjust */
  footer p {
    font-size: 1vw !important;
  }
}



/* For mobile phones: */
@media only screen and (max-width: 600px) {
  

  * {
    font-size: 2.5vw;
  }

  /* header setting and nav bar align */
  header {
    background-color: white;
    color: white;
    padding: 1.5% 1.5% 1.5% 5%;

  }

  /* align name only item in nav bar */
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
  }

  /* adjust position for items in the nav bar */
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* margin setup for each name in nav bar */
  header nav li {
    margin-right: 2%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
  }

  /* remove default a tag settings */
  header nav a {
    color: black;
    text-decoration: none;
  }



  /* adjust the size of */

  .navbar_brand {
    padding-bottom: 1%;
    margin-bottom: 1%;
    width: 10%;
    border-bottom: 1px solid black;
    /* margin-right: 2.5% ; */

  }





  /*  */
  .form_control::placeholder {
    text-align: center;
  }


  /* setup for the overal content display on the website */
  /* the whole website content will be display on a paper like a book*/
  main {
    padding: 5% 0% 5% 5%;
    background-color: #f6f6f6;
    background-image: url("images/paperboard-yellow-texture.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset rgb(0 0 0 / 45%) 0px 25px 20px -20px;
    overflow: auto;
  }



  /* footer basic settings */
  footer {
    background-color: #414141;
    color: white;
    padding: 20px;
    text-align: center;
    clear: both;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  /* search bar shape settings */
  .form_control {
    display: block;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    float: right;
    color: rgb(0 0 0 / 45%);
    background-color: white;
    background-clip: padding-box;
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  }

  /* align items in nav bar including the searchbar */
  .navbar_collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    width: 100%;

  }


  /* adjust the size of the logo */
  .logo_image {
    border-radius: 25%;
    width: 100%;
    height: auto;

  }




  /* template settings for all buttons on the site */
  .btn {
    font-size: 100%;
    width: 100%;
    background: #000;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    text-align: center;
    padding: 2% 3%;
    border-radius: 29px;
    transition: .5s;
  }

  /*hover for button of all page */
  .btn:hover {
    background: transparent;
    border: 2px solid #000;
    color: #000;
    cursor: pointer;
  }


  /* basic settings for table of the whole webpage accodring to the requirements */

  #product table,
  td,
  th {
    border: 1px solid black !important;
  }

  #product td {
    background-color: whitesmoke;
    color: black;
  }

  #product th {
    background-color: black;
    color: whitesmoke;
  }


  /* a container that float all the elements of the main content */
  #product .float_object {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 90%;
    padding: 2% 2% 2% 2%;
    background-color: rgb(250, 250, 250, 1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 5%;

  }

  /* title of the float object 's settings */
  #product .float_object_title {
    margin-bottom: 5%;
  }



  /* a container of all the books' information */
  /* contain the cover picture and the detail information about the book */
  /* adjust the position of its contained and have some styling + support hover animation*/
  #product .book_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./images/product_bg.jpg);
    background-repeat: no-repeat;
    background-size: 1000%;
    background-position: 10% 30%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 5%;
  }

  #product .book_detail h2 {
    text-align: center;
  }

  /* adjust width of search */
  .form_inline {
    width: 90%;
  }

  /* specifications information display settings */
  #product .spec {
    margin-bottom: 2.5%;
  }

  /* container of the cover image adjust its position to the best place */
  #product .cover_container {
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* settings for the image */
  #product .cover {
    margin-top: 5%;
    width: 50%;
  }

  /* settings for the information part  */
  /* contain basic product information about price, name */
  /* also have detail drop down */
  /* adjust the information of its contained and some styling */
  #product .book_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: 3%;
    margin-bottom: 3%;
  }


  /* settings for the detail sections, ensure that contents in it is displayed correctly */
  #product details {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  /* summary tag centered */

  #product summary {
    text-align: center;
    margin: 2.5% 0% 2.5% 0%;
  }


  /* ensure all the elements in book details have margin on the top */
  #product .book_detail * {
    margin-top: 2%;
  }


  /* a container contain detail information about what is written in the book*/
  /* contain chapter list and summary */
  #product .book_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* contain 2 smaller div chapter list and summary => adjust their position */
  #product .content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  /* contain an ol listed all the chapter inside the book */
  /* have some styling and width adjust */
  #product .chapter_list {
    width: 30%;

    margin-left: 2.5%;
  }

  .chapli {
    padding: 0px;
  }

  /* contain a summary of the book => margin adjust and width adjust */
  #product .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    width: 70%;
  }

  /* adjust margin book content heading */
  #product .book_content h2 {
    margin: 5% 0% 5% 0%;
  }




  /* the recommendation part of the website in aside */

  /* have position and shape adjusted, some styling and hover animation supported */
  #product aside {
    width: 90%;
    position: relative;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  /* contain the cover image and the detail infor of the recommended book */
  /* have display setting to make the detail overlap on the cover */
  #product .rcm_info {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 0fr;
    margin: 10% 0% 10% 0%;
  }

  /* hide the detail part and make it overlap the cover + some items styling */
  #product .rcm_detail {

    width: 100%;
    grid-column: 1/-2;
    text-align: center;
  }

  /* font size + margin + shadow setting for detail texts */
  #product .rcm_bookname,
  .rcm_author,
  .rcm_price,
  .rcm_button {
    font-size: 3.5vw;
    margin: 2.5%;
  }

  /* styling for the cover of the recommendation book + help the detail to overlap it */
  #product .rcm_cover {
    height: auto;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    grid-column: 1/2;
  }

  /* recommendation heading size */
  #product .rcm_area_name {
    margin-top: 3.5%;
    font-size: 175%;
  }


  /* Form size and color   */
  #payment .form {
    padding: 5%;
    background: #fff;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }

  #payment .form h2 {
    font-size: 2.5vw;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5%;
    margin-bottom: 3%;
    border-bottom: 1px dashed black;

  }

  /* Contact us heading at the start   */
  #payment #heading {
    text-align: center;
    font: 5em Arial;
    margin: 0% 0% 5% 0%;
  }

  /* How to fieldset behave   */
  #payment fieldset {
    padding: 0px;
  }

  /* Make the border representing fieldset dissapear   */
  #payment .part {
    border-style: none;
  }

  #payment fieldset input {
    border-radius: 10px;
  }

  /* The text over each input is style here   */
  #payment .text_Float_left {
    float: left;
    font-size: 1.7em;
  }

  /* Increase font-size of placeholder   */
  #payment input::placeholder {
    font-size: 1.4em;
  }

    /* Set the input field to look kinda opaque    */
  #payment .input_text {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    align-self: center;
    border-style: none;
    text-align: center;
    font-size: 1.1em;
  }

  #payment .input_text_2 {
    opacity: 0.5;
    width: 100%;
    padding: 1.5em;
    align-self: center;
    margin-bottom: 2%;
  }
                                                  
  /*2 equal collums*/

  #payment * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  #payment .column {
    float: left;
    width: 98%;
    margin: 1% 0% 1% 0%;
    text-align: center;
  }

  #payment .column2 {
    float: left;
    width: 99%;
    margin: 1% 0% 1% 0%;
    text-align: center;
  }

  /* Clear floats after the columns */
  #payment .row_01:after {
    content: "";
    display: table;
    clear: both;
  }

  #payment .row2 {
    margin-bottom: 1%;
  }

  #payment .row2:after {
    content: "";
    display: table;
    clear: both;
  }

    /* State styling   */
    #payment #cAdr {
      width: 100%;
      padding: 1.5em;
      border-radius: 10px;
      opacity: 0.5;
      margin: 0% 0% 2% 0%;
    }

  /* Preferred Card type */
  #payment .precon_label {
    display: flex;
    align-items: center;
    padding-right: 2%;
  }

  /* Changing radio size */
  #payment input[type="radio"] {
    transform: scale(1);
  }

  /* Add display flex */
  #payment .flex {
    display: flex;
    flex-direction: column;
  }

  /* position adjustment for prefered Card */
  #payment .option_content {
    display: flex;
    margin-top: 2%;
  }

  /* Book, preferred, order font styling    */
  #payment .choice_label {
    font-size: 1.7em;
  }


/* adjust the position of the label content */
  #payment li label {
    display: flex;
    align-items: center;
  }

  /* Choose order type styling   */
  #payment ul {
    display: flex;
    margin: 2% 0% 0% 0%;
    padding: 0px;
  }

/* checkbox option position settings */
  #payment .Option {
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    margin-right: 2%;
  }

/* checkbox shape adjust */
  #payment .checkbox {
    height: 10px;
    width: 10px;
  }

/* attribute selector to adjust all text inputs font size */
  #payment input [type="text"] {
    font-size: 1.5em;
  }

  #payment .book {
    width: 98%;
    padding: 0.3em;
    border-radius: 10px;
    margin-bottom: 4%;
    /* margin-left: 2%; */
    
  }

  #payment select option {
    font-size: 1em;;
  }

  /* Textarea   */
  #payment textarea {
    line-height: 10vh;
    width: 100%;
    padding: 4%;
    font-size: 1.3em;
  }

  #payment textarea::placeholder {
    font-size: 1.4em;
  }

       /* Validation of entered value in input  */
       /* #payment .input_text_2:not(:placeholder-shown):invalid {
        border: 5px solid #ff0000;
      } */

  /* Submit button styling  */
  #payment .submit {
    text-align: center;
    margin-top: 5px;
  }

/* submit button length adjust */
  #payment #submit {
    width: 20%;
  }

/* hover effect for submit button */
  #payment #submit:hover {
    transform: scale(1.2);
  }

  

  /* Sets the width and height of the banner image */
  #index .featured-banner img {
    width: 100%;
    height: 60vh;
  }

  /* Sets the position, width, height, and margin of the banner container */
  #index .featured-banner {
    position: relative;
    width: 100%;
    height: 60vh;
    margin: 0 auto 30px;
    margin-bottom: 30px;
  }

  /* Box shadow for the Image*/
  #index .featured-banner::after {
    box-shadow: inset rgb(0 0 0 / 45%) 0px 25px 20px -20px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /* Sets the display, position, width, height, margin, background image, and animation of the banner image */
  #index .featured-banner-image {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/featured/banner1.jpg);
    background-size: cover;
    animation: banner-animation 9s infinite;
  }

  #index h1 {
    width: 90%;
    margin: 5%;
  }

  /* Defines the keyframes of the banner animation */
  @keyframes banner-animation {
    0% {
      background-image: url(../images/featured/banner1.jpg);
    }

    33.33% {
      background-image: url(../images/featured/banner2.jpg);
    }

    66.66% {
      background-image: url(../images/featured/banner3.jpg);
    }

    100% {
      background-image: url(../images/featured/banner1.jpg);
    }
  }

  #index .header h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* Sets the padding, margin and background color for the main content area */
  #index {
    padding: 0px;
  }

  #index .section-white {
    background-color: #fff;
    float: left;
    padding: 2.5%;
    margin: 0% 5% 5% 5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  #index .section-white .section-title {
    font-size: 2.5vw;
    text-align: center;

    font-weight: bold;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: 3%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

  }

  /* Sets the style for the rows and columns */
  #index .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    border-bottom: 1px solid #000;
  }

  #index .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;
    padding: 10px;
  }

  /* Sets the style for the images */
  #index img {
    max-width: 100%;
    height: auto;
  }

  #index .modi {
    width: 15%;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }



  #index .section-white img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  /* basic set up for about page elements */
  #about * {
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
  }

  /*each member face image*/
  #about .prof {
    height: auto;
    width: 15vw;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;
  }




  /*position for member's vertical banner*/
  #about .profiles {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  #about .profile h3 {
    text-align: center;
    font-size: 20vh;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    color: #fbfbf2;
  }

  #about td {
    background-color: #fbfbf2;
    color: #000;
  }

  #about .aboutpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 95%;
    padding-top: 5vh;
    height: 90vh;
    background: #fbfbf2;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 10% 30%;
    margin-bottom: 5%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 1px solid black;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }

  /* h2 member number  */
  #about .aboutpage h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;

  }

  #about .aboutpage:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #about figure {
    width: 30%;

    padding: 2%;
  }

  /*personal image*/
  #about .profile_picture_1 {
    display: inline-block;
    width: 100%;
    height: 80%;
    border: double;
  }

  /*personal information ( included title and information )*/
  #about .personaldetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;

    padding: 1% 1%;

  }

  /*"major in" text*/
  #about .personaldetail p {
    font-size: 100%;

    text-transform: capitalize;
    margin-bottom: 2%;

  }

  #about .personaldetail p span {
    font-weight: bold;
    font-size: 120%;

  }

  /*specific information*/
  #about .personaldetail dl {
    color: black;
    line-height: 28px;
    font-size: 100%;
    margin-bottom: 45px;
    border: 3px solid #000;

    padding: 13px 2%;
  }

  #about dd {
    padding-left: 2%;
  }

  /*section of table*/
  #about .ttble {
    float: left;
    width: 100%;
    align-items: center;
  }

  /*adjust table*/
  #about .ttble table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 5%;
    border: 1px solid #151314;
    text-align: center;
  }

  /*each element in table*/
  #about .center th {
    border: 1px solid #151314;
    color: black;
    text-align: center;
    transition: 0.5s;
  }

  /* change background hover effects */
  #about .center th:hover {
    border: 1px solid transparent;
    background: #4e4ebf;
    color: white;
  }

  /*hover for each element*/

  #about .center td:hover {
    border: 1px solid transparent;
    background: #d6844a;
    color: white;
  }


  #about td.club:hover {
    border: 1px solid transparent;
    background: #bbbe37;
    /* different color for each subject */
    color: #fff;
  }

  #about td.cos20019:hover {
    border: 1px solid transparent;
    background: #d99d29;
    /* different color for each subject */
    color: #fff;
  }

  #about td.cos10026:hover {
    border: 1px solid transparent;
    background: #ffb6c1;
    /* different color for each subject */
    color: #fff;
  }

  #about td.tne10006:hover {
    border: 1px solid transparent;
    /* different color for each subject */
    background: #bc8f8f;
    color: #fff;
  }

  #about td.cos10022:hover {
    border: 1px solid transparent;
    /* different color for each subject */
    background: #363456;
    color: white;
  }

  #about td.vovi1:hover {
    border: 1px solid transparent;
    /* different color for each subject */
    background: #95e7c6;
    color: white;
  }

  #about .center td {
    border: 1px solid #151314;
    color: #151314;
    text-align: center;
    transition: 0.5s;
    height: 10vh;
    width: 15vw;
  }

  #about .center th {
    background-color: #151314;
    color: #fbfbf2;
    border: 1px solid #151314;

    text-align: center;
    transition: 0.5s;
    height: 10vh;
    width: 15vw;
  }

  /*position for center table*/
  #about table.center {
    font-size: 140%;
    margin-bottom: 30px;
  }

  /*time row*/
  #about .time {
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  /*title "this is my swinburne timetable"*/
  #about .swtb {
    font-size: 2.5vw;
    margin-top: 2.5%;
    word-spacing: 2px;
    font-weight: bold;
    color: #000;
    text-align: center;
  }

  /*green color for "This is"*/
  #about .ti {
    margin-right: 1%;
    font-size: 2.25vw;
    font-style: italic;
    color: #000;
  }

  
  #enhancement b {
    font-weight: bold !important;
    text-decoration: underline;
  }

  #enhancement article {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    padding-top: 5vh;
    height: 80vh;
    background: #fbfbf2;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 10% 30%;
    margin-bottom: 5%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* border: 1px solid black; */
  }

  #manage article {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    padding-top: 5vh;
    padding: 1%;
    background: #fbfbf2;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 10% 30%;
    margin-bottom: 5%;
    /* overflow: auto; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* border: 1px solid black; */
  }


  #manage table th, #manage table td {
   padding: 1%;
   width: 5%;
   text-align: center;
   
  }

  #manage table, #manage th, #manage td {
   border: black solid 1px;
   -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
   
  }

  #manage fieldset {
    display: flex;
    flex-direction: column;

  }
  #manage .input_filter , #manage #submit{
    margin: 1% 0% 1% 0%;
    
  }

  #manage  th {
   background-color: #000;
   color: #fff;
   
  }

  #manage  .drop:hover {
   background-color: #c70000;
   color: #fff;
   
  }

  #manage  .update:hover {
   background-color: #00a908;
   color: #fff;
   
  }

  #manage details {
   margin-bottom: 2%;
  }

  /* footer font size adjust */
  footer p {
    font-size: 1vw !important;
  }

}



/* slider setting */

/* shape adjust for next buttons */
.link_2 img,
.link_1 img {
  margin: 1px;
  width: 10px;
  height: 10px;
}

/* setting for the slider content position  */
.slide_nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* image settings */
.cover_i {
  width: inherit;
  height: inherit;
  position: relative;
  z-index: 8;
}


/* hide the ratio options */
.slide_nav input {
  display: none;
}

/* next buttons settings */
.slide_nav label {
  z-index: 9;
  margin: 2%;
}


/* hide the next button of the unshown element */
.slide_nav,
.cover_container input[name*="num"] {
  display: none;
}


/* show the elements when the related ratio is selected */
#s4:checked~.back {
  display: flex;

}

/* show the elements when the related ratio is selected */
#s3:checked~.back {
  display: flex;
}

/* hide the buttons when they are not selected */
.cover_container label[for*="s"] {
  display: none;
}

/* show the elements when the related ratio is ticked */
#s3:checked~.link_1 {
  display: block;
}


/* show the elements when the related ratio is ticked */
#s4:checked~.link_1 {
  display: block !important;
}


/* show the elements when the related ratio is ticked */
#s1:checked~.link_2 {
  display: block;
}


/* show the elements when the related ratio is ticked */
#s2:checked~.link_2 {
  display: block;
}



/* show the elements when the related ratio is ticked */
#s1:checked~.front {
  display: flex;
}

/* show the elements when the related ratio is ticked */
#s2:checked~.front {
  display: flex;
}


/* show the elements when the related ratio is ticked */
#s8:checked~.back {
  display: flex;

}

/* show the elements when the related ratio is ticked */
#s7:checked~.back {
  display: flex;
}


/* show the elements when the related ratio is ticked */
#s7:checked~.link_1 {
  display: block;
}


/* show the elements when the related ratio is ticked */
#s8:checked~.link_1 {
  display: block !important;
}


/* show the elements when the related ratio is ticked */
#s5:checked~.link_2 {
  display: block;
}


/* show the elements when the related ratio is ticked */
#s6:checked~.link_2 {
  display: block;
}



/* show the elements when the related ratio is ticked */
#s5:checked~.front {
  display: flex;
}

/* show the elements when the related ratio is ticked */
#s6:checked~.front {
  display: flex;
}

/* show the elements when the related ratio is ticked */
#s12:checked~.back {
  display: flex;

}

/* show the elements when the related ratio is ticked */
#s11:checked~.back {
  display: flex;
}


/* show the elements when the related ratio is ticked */
#s11:checked~.link_1 {
  display: block;
}


/* show the elements when the related ratio is ticked */
#s12:checked~.link_1 {
  display: block !important;
}


/* show the elements when the related ratio is ticked */
#s9:checked~.link_2 {
  display: block;
}


/* show the elements when the related ratio is ticked */
#s10:checked~.link_2 {
  display: block;
}



/* show the elements when the related ratio is ticked */
#s9:checked~.front {
  display: flex;
}

/* show the elements when the related ratio is ticked */
#s10:checked~.front {
  display: flex;
}

/* show the elements when the related ratio is ticked */
#s16:checked~.back {
  display: flex;

}

/* show the elements when the related ratio is ticked */
#s15:checked~.back {
  display: flex;
}


/* show the elements when the related ratio is ticked */
#s15:checked~.link_1 {
  display: block;
}


/* show the elements when the related ratio is ticked */
#s16:checked~.link_1 {
  display: block !important;
}


/* show the elements when the related ratio is ticked */
#s13:checked~.link_2 {
  display: block;
}


/* show the elements when the related ratio is ticked */
#s14:checked~.link_2 {
  display: block;
}



/* show the elements when the related ratio is ticked */
#s13:checked~.front {
  display: flex;
}

/* show the elements when the related ratio is ticked */
#s14:checked~.front {
  display: flex;
}